<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>To Do Home</title>
</head>
<body>
    <div class="box" id="heading">
        <h1>Organize your Work and Life, finally.</h1>
    </div>
        <form class="choice sidebox" action="/" method="post">
            <div class="todolist">
                <button class="btn-for-home" type="submit" name="choice" value="kitchen">
                    <img class="home-items" src="images\grocery-cart.png" alt="kitchen.img">
                    <h3 class="option">Kitchen List</h3>
                </button>
            </div>
            <div class="todolist">
                <button class="btn-for-home" type="submit" name="choice" value="work">
                    <img class="home-items" src="images\working.png" alt="work.img">
                    <h3 class="option">Work List</h3>
                </button>
            </div>
            <div class="todolist">
                <button class="btn-for-home" type="submit" name="choice" value="study">
                    <img class="home-items" src="images\study.png" alt="Study.img">
                    <h3 class="option">Study List</h3>
                </button>
        </form>
    </div>
</body>
<footer>
   ©️ Copyright 2022 Adnan Sameer
</footer>
</html>